<template>
  <UiPreloader :loading="isLoading" />

  <div :class="$style.table">
    <UiTable :headers="tableHeaders">
      <PackagesSearchResultsTableRow
        v-for="(item, i) in items"
        :key="i"
        :data="item"
        @click="onPackageClick(item.name.text)"
      />
    </UiTable>
  </div>

  <slot name="footer"></slot>
</template>

<script setup lang="ts">
import type { PackageBrief } from '@/modules/packages/package.model'
import UiTable from '@/components/ui-common/ui-table.vue'
import UiPreloader from '@/components/ui-common/ui-preloader.vue'
import PackagesSearchResultsTableRow from '@/modules/packages/components/packages-search-results-table-row.vue'

type Props = {
  items: PackageBrief[]
  isLoading: boolean
}

withDefaults(defineProps<Props>(), {
  items: () => []
})

const emit = defineEmits(['package-select'])

const tableHeaders = ['Package name', 'Author', 'Version', 'Description']

const onPackageClick = (packageName: string) => {
  emit('package-select', packageName)
}
</script>

<style module lang="sass">
.table
  box-shadow: 0 2px 10px rgba(0, 67, 115, 0.2)
  table
    margin-bottom: 20px
</style>
