<template>
  <section v-if="data">Hi</section>
</template>

<script setup lang="ts">
import { PackageBrief } from '@/modules/packages/package.model'

type Props = {
  data: PackageBrief
}

defineProps<Props>()
</script>

<style module lang="sass"></style>
