<template>
  <UiTableRow :class="$style.row">
    <td>
      <UiLink :to="data.name.url" target="_blank" @click.stop>
        {{ data.name.text }}
      </UiLink>
    </td>

    <td>
      <UiLink :to="data.author.url" target="_blank" @click.stop>
        {{ data.author.text }}
      </UiLink>
    </td>

    <td>{{ data.version }}</td>
    <td>{{ data.description }}</td>
  </UiTableRow>
</template>

<script setup lang="ts">
import type { PackageBrief } from '@/modules/packages/package.model'
import UiTableRow from '@/components/ui-common/ui-table-row.vue'
import UiLink from '@/components/ui-common/ui-link.vue'

type Props = {
  data: PackageBrief
}

defineProps<Props>()
</script>

<style module lang="sass">
.row
  cursor: pointer
</style>
