<template>
  <UiTable flat cols-desktop="1fr 2fr">
    <UiTableRow>
      <td>Package name</td>

      <td :class="$style['badge-wrapper']">
        <PackagesPackageBadge
          v-if="data.badge"
          :data="data.badge"
          :style="$style.badge"
        />
        {{ data.name }}
      </td>
    </UiTableRow>

    <UiTableRow v-if="data.version">
      <td>Version</td>
      <td>{{ data.version }}</td>
    </UiTableRow>

    <UiTableRow v-if="data.date">
      <td>Date</td>
      <td>{{ data.date }}</td>
    </UiTableRow>

    <UiTableRow>
      <td>Author</td>
      <td>{{ data.author }}</td>
    </UiTableRow>

    <UiTableRow>
      <td>Homepage</td>
      <td>{{ data.homepage }}</td>
    </UiTableRow>

    <UiTableRow>
      <td>License</td>
      <td>{{ data.license }}</td>
    </UiTableRow>

    <UiTableRow>
      <td>Keywords</td>
      <td>{{ data.keywords }}</td>
    </UiTableRow>

    <UiTableRow v-if="data.repository?.url">
      <td>Repository</td>
      <td>{{ data.repository.url }}</td>
    </UiTableRow>

    <UiTableRow v-if="data.publisher">
      <td>Package publisher</td>
      <td>{{ data.publisher }}</td>
    </UiTableRow>

    <UiTableRow v-if="data.scope">
      <td>Scope</td>
      <td>{{ data.scope }}</td>
    </UiTableRow>
  </UiTable>
</template>

<script setup lang="ts">
import type { PackageFull } from '@/modules/packages/package.model'
import UiTable from '@/components/ui-common/ui-table.vue'
import UiTableRow from '@/components/ui-common/ui-table-row.vue'
import PackagesPackageBadge from '@/modules/packages/components/packages-package-badge.vue'

type Props = {
  data: PackageFull
}

defineProps<Props>()
</script>

<style module lang="sass">
.badge-wrapper
  position: relative

.badge
  background: red
</style>
