<template>
  <section v-if="data">
    <UiTitle tag="h2" center>Package info</UiTitle>
    <UiHr />

    <PackagesPackageInfo :data="data" :style="$style.info" />
  </section>
</template>

<script setup lang="ts">
import type { PackageFull } from '@/modules/packages/package.model'
import UiTitle from '@/components/ui-common/ui-title.vue'
import UiHr from '@/components/ui-common/ui-hr.vue'
import PackagesPackageInfo from '@/modules/packages/components/packages-package-info.vue'

type Props = {
  data: PackageFull | null
}

defineProps<Props>()
</script>

<style module lang="sass">
.title
  margin-bottom: 25px
</style>
