<template>
  <div :class="$style.wrapper">
    <UiSearchForm
      v-model="searchValue"
      :class="$style['search-form']"
      @search="onSearch"
    />

    <PackagesSearchResults
      :items="packages"
      :is-loading="arePackagesLoading"
      @package-select="onPackageSelect"
    >
      <template #footer>
        <UiPagination :current-page="currentPage" :pages-count="pagesCount" />
      </template>
    </PackagesSearchResults>

    <teleport to="body">
      <UiDialog ref="dialog" :loading="isLoading">
        <PackagesPackage
          v-if="packageInfo instanceof PackageFull"
          :data="packageInfo"
        />
      </UiDialog>
    </teleport>
  </div>
</template>

<script setup lang="ts">
import { onMounted, ref, watch } from 'vue'
import { useRoute, useRouter } from 'vue-router'
import { storeToRefs } from 'pinia'
import { usePackagesStore } from '@/modules/packages/store/packages.store'
import { usePackageInfoStore } from '@/modules/packages/store/package-info.store'
import debounce from '@/utils/debounce'
import UiSearchForm from '@/components/ui-common/ui-search-form.vue'
import UiDialog from '@/components/ui-common/ui-dialog.vue'
import UiPagination from '@/components/ui-common/ui-pagination.vue'
import PackagesSearchResults from '@/modules/packages/components/packages-search-results-table.vue'
import PackagesPackage from '@/modules/packages/components/packages-package.vue'
import { PackageFull } from '@/modules/packages'

const router = useRouter()
const route = useRoute()
const packagesStore = usePackagesStore()
const packageInfoStore = usePackageInfoStore()

const {
  packages,
  pagesCount,
  currentPage,
  isLoading: arePackagesLoading
} = storeToRefs(packagesStore)
const { packageInfo, isLoading } = storeToRefs(packageInfoStore)
const { queryPackages } = packagesStore
const { getPackageInfo } = packageInfoStore

defineEmits(['update:modelValue', 'search', 'select-package'])

const dialog = ref()
const searchValue = ref('')

const updateQueryParams = () => {
  router.push({
    path: route.path,
    query: {
      search: searchValue.value,
      ...(currentPage.value && { page: currentPage.value })
    }
  })
}

const onSearch = debounce((value: string) => {
  if (!value) return

  updateQueryParams()
  queryPackages(searchValue.value)
}, 500)

const onPackageSelect = debounce(async (packageName: string) => {
  dialog.value?.open()
  await getPackageInfo(packageName)
})

onMounted(() => {
  const { search, page } = route.query
  if (!search) return

  searchValue.value = search as string
  queryPackages(search as string, Number(page))
})

watch(
  () => route.query.page,
  (newPage) => {
    queryPackages(searchValue.value, Number(newPage))
  }
)
</script>

<style module lang="sass">
.wrapper
  position: relative
  padding: 1rem
  border: 1px solid var(--color-base-1)
  @media (min-width: 1024px)
    padding: 2.5rem

.search-form
  width: 600px
  max-width: 100%
  margin: 0 auto 40px
</style>
