<template>
  <AppHeader :class="$style.header" />

  <main :class="[$grid.container, $style['page-content']]">
    <PackagesSearch :class="$style['packages-search']" />
  </main>

  <AppFooter :class="$style.footer"> </AppFooter>
</template>

<script setup lang="ts">
import $grid from '@/assets/grid.module.sass'
import AppHeader from '@/components/app-header.vue'
import AppFooter from '@/components/app-footer.vue'
import PackagesSearch from '@/modules/packages/components/packages-search.vue'
</script>

<style module lang="sass">
.page-content
  flex-grow: 1
  margin-bottom: 20px

.packages-search
  margin-bottom: 15px

.header
  flex-shrink: 0
  height: 100px
  margin-bottom: 20px

.footer
  flex-shrink: 0
  height: 100px
  margin-top: auto
</style>
