<template>
  <button
    :class="[$style.button, { [$style.flat]: flat }]"
    :disabled="disabled"
  >
    <slot></slot>
  </button>
</template>

<script setup lang="ts">
type Props = {
  disabled?: boolean
  flat?: boolean
}

defineProps<Props>()
</script>

<style module lang="sass">
.button
  position: relative
  display: inline-block
  transition: all 0.5s
  margin: 0
  cursor: pointer
  text-align: center
  font-size: 14px
  white-space: nowrap

  &.flat
    border: none
    padding: 0
    background: none

  &:not(.flat)
    padding: 8px 16px
    border: 2px solid var(--color-border)
    background-color: var(--color-base-1)
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2)
    color: var(--color-text-invert)
    &:hover
      opacity: 0.95
      box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1)

  &[disabled]
    opacity: 0.5
    cursor: none
    pointer-events: none
</style>
