<template>
  <dialog ref="dialog" :class="$style.dialog" @close="onClose">
    <Transition
      :enter-active-class="$style['t-active']"
      :enter-leave-class="$style['t-active']"
      :enter-from-class="$style['t-inactive']"
      :enter-to-class="$style['t-inactive']"
    >
      <form v-if="isVisible" method="dialog">
        <slot />

        <UiButton flat :class="$style.close" @click="closeDialog">
          <UiIcon name="close" />
        </UiButton>
      </form>
    </Transition>
  </dialog>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import UiIcon from '@/components/ui-common/ui-icon.vue'
import UiButton from '@/components/ui-common/ui-button.vue'

type Props = {
  visible?: boolean
}

withDefaults(defineProps<Props>(), {
  visible: false
})

const dialog = ref<HTMLDialogElement>()
const isVisible = ref(false)

const onClose = () => {
  isVisible.value = false
}

const openDialog = () => {
  dialog.value?.showModal()
  isVisible.value = true
}

const closeDialog = (returnVal?: string) => {
  dialog.value?.close(returnVal)
}

defineExpose({
  open: openDialog,
  close: closeDialog
})
</script>

<style module lang="sass">
.dialog
  position: relative
  width: 600px
  max-width: 100%
  max-height: 85vh
  min-height: 50vh
  margin: 10vh auto auto
  padding: 40px
  background-color: var(--color-background)

  form
    display: block
    padding: 0
    background-color: var(--color-background)

  .close
    position: absolute
    top: 12px
    right: 12px
    display: flex
    justify-content: center
    align-items: center
    width: 25px
    height: 25px
    line-height: 1

.t-active
  transition: opacity 0.5s ease

.t-inactive
  opacity: 0
</style>
