<template>
  <component :is="iconComponent" v-if="iconComponent" :class="$style.icon" />
</template>

<script setup lang="ts">
import { defineAsyncComponent } from 'vue'

type IconName = keyof typeof icons
type Props = {
  name: string
}

const icons = {
  spinner: () => import('@/components/icons/icon-spinner.vue'),
  chevronRight: () => import('@/components/icons/icon-chevron-right.vue'),
  chevronLeft: () => import('@/components/icons/icon-chevron-left.vue'),
  close: () => import('@/components/icons/icon-close.vue')
}

const props = defineProps<Props>()
const iconComponent = defineAsyncComponent(icons[props.name as IconName])
</script>

<style module lang="sass">
.icon
  display: inline-block
</style>
