<template>
  <label :class="$style.wrapper">
    <input
      v-model="valueLocal"
      :class="$style.input"
      :placeholder="placeholder"
      :type="type"
    />
  </label>
</template>

<script setup lang="ts">
import { computed } from 'vue'

type InputType = 'text' | 'number'
type Props = {
  modelValue: string
  type?: InputType
  placeholder?: string
}

const props = withDefaults(defineProps<Props>(), {
  type: 'text',
  placeholder: ''
})
const emit = defineEmits(['update:modelValue'])

const valueLocal = computed({
  get() {
    return props.modelValue
  },
  set(newValue) {
    emit('update:modelValue', newValue)
  }
})
</script>

<style module lang="sass">
.wrapper
  width: 100%
  max-width: 100%

.input
  width: 100%
  height: 50px
  box-shadow: none
  appearance: none
  text-indent: 15px
  border: 1px solid var(--color-base-1)
  font-size: 16px

  &:hover
    box-shadow: 0 0 1px 3px var(--color-background-soft)

  &:focus
    outline: none
    box-shadow: 0 0 2px 5px var(--color-background-soft)

.border-gray
  border-color: #C4C4C4
</style>
