<template>
  <a :href="to">
    <slot></slot>
  </a>
</template>

<script setup lang="ts">
type Props = {
  to?: string
}

withDefaults(defineProps<Props>(), {
  to: undefined
})
</script>

<style module lang="sass"></style>
