<template>
  <Transition
    :leave-from-class="$style['t-active']"
    :leave-to-class="$style['t-inactive']"
  >
    <div v-if="loading" :class="$style.preloader">
      <UiSpinner />
    </div>
  </Transition>
</template>

<script setup lang="ts">
import UiSpinner from '@/components/ui-common/ui-spinner.vue'

type Props = {
  loading: boolean
}

defineProps<Props>()
</script>

<style module lang="sass">
.preloader
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: 999
  justify-content: center
  align-content: center
  display: flex
  background: var(--color-background)
  transition: opacity .5s ease

.t-active
  opacity: 1
  transition: opacity 1s ease

.t-inactive
  opacity: 0
</style>
