<template>
  <div v-if="pagesCount > 1" :class="$style.pagination">
    <nav aria-label="Pagination">
      <component
        :is="currentPage === 1 ? 'a' : 'router-link'"
        :class="{ disabled: currentPage === 1 }"
        :to="linkToPage(currentPage >= 2 ? currentPage - 1 : undefined)"
      >
        <UiIcon :class="$style.icon" name="chevronLeft" />
      </component>

      <template v-for="page in pages">
        <template v-if="page">
          <a v-if="page.breakView" :key="page.content"> ... </a>

          <RouterLink
            v-else
            :key="page.content!"
            :class="{ selected: page.selected }"
            :to="linkToPage(page.index >= 0 ? page.index + 1 : undefined)"
            :llink="linkToPage(page.index > 0 ? page.index + 1 : undefined)"
            :index="page.index"
          >
            {{ page.content }}
          </RouterLink>
        </template>
      </template>

      <component
        :is="currentPage < pagesCount ? 'router-link' : 'a'"
        :class="[
          currentPage < pagesCount ? 'alalala1' : 'alalala2',
          { disabled: currentPage >= pagesCount }
        ]"
        :to="
          linkToPage(currentPage < pagesCount ? +currentPage + 1 : undefined)
        "
        tabindex="0"
      >
        <UiIcon :class="$style.icon" name="chevronRight" aria-hidden="true" />
      </component>
    </nav>
  </div>
</template>

<script setup lang="ts">
import { computed, reactive, watch, watchEffect } from 'vue'
import { useRoute } from 'vue-router'
import UiIcon from '@/components/ui-common/ui-icon.vue'
import usePagination from '@/composables/use-pagination'

const route = useRoute()
const query = computed(() => route.query)

type Props = {
  currentPage: number
  pagesCount: number
  pageRange?: number
  marginPages?: number
}

const props = withDefaults(defineProps<Props>(), {
  pageRange: 3,
  marginPages: 2
})

const paginationOptions = computed(() => ({ ...props }))
const { pages } = usePagination(paginationOptions)

const linkToPage = (page?: number) => ({
  query: { ...query.value, ...(page && { page }) }
})
</script>

<style module lang="sass">
.pagination
  text-align: center

  nav
    display: flex
    justify-content: space-between
    margin: 30px 0 15px

    @media (min-width: 768px)
      justify-content: center
      margin-bottom: 0

  a
    display: inline-block
    min-width: 30px
    padding: 8px
    line-height: 1

    @media (min-width: 768px)
      min-width: 35px
      padding: 10px

  .disabled
      pointer-events: none
      cursor: default
      opacity: 0.4

  .selected
      background-color: var(--color-base-1)
      font-weight: 700
      text-decoration: underline

.icon
  width: 12px
  height: 12px
</style>
