<template>
  <div :class="$style.spinner">
    <span v-for="item in 5" :key="item" />
  </div>
</template>

<script setup lang="ts"></script>

<style module lang="sass">
.spinner
  position: relative
  display: flex
  justify-content: center
  align-items: center
  column-gap: 20px
  margin: auto

  span
    border-radius: 50%
    width: 24px
    height: 24px
    background: var(--color-base-1)
    animation: 1.6s ease-in-out normal none infinite spinner-dots
    &:nth-child(1)
      animation-delay: 0s
    &:nth-child(2)
      animation-delay: .2s
    &:nth-child(3)
      animation-delay: .4s
    &:nth-child(4)
      animation-delay: .6s
    &:nth-child(5)
      animation-delay: .8s

@keyframes spinner-dots
  0%, 50%
    transform: scale(1)
    opacity: 1
  50%
    transform: scale(0.5)
    opacity: 0.5
</style>
