<template>
  <form :class="$style.form" @submit.prevent="search">
    <UiInput
      v-model.trim="searchTextLocal"
      :class="$style.input"
      icon="search"
      placeholder="Search"
    />
    <UiButton :class="$style.button" type="submit">Search</UiButton>
  </form>
</template>

<script setup lang="ts">
import { computed } from 'vue'
import UiInput from '@/components/ui-common/ui-input.vue'
import UiButton from '@/components/ui-common/ui-button.vue'

type Props = {
  modelValue: string
}

const props = withDefaults(defineProps<Props>(), {
  modelValue: ''
})
const emit = defineEmits(['update:modelValue', 'search'])

const searchTextLocal = computed({
  get() {
    return props.modelValue
  },
  set(newValue) {
    emit('update:modelValue', newValue)
  }
})

const search = () => {
  emit('search', searchTextLocal.value)
}
</script>

<style module lang="sass">
.form
  display: flex
  justify-content: center

.input
  width: calc(100% - 104px)

.button
  display: block
  width: 100px
  margin-left: auto
</style>
