<template>
  <table :class="[$style.table, { [$style.flat]: flat }]">
    <thead v-if="headers?.length">
      <UiTableRow>
        <td v-for="(header, i) in headers" :key="i" v-text="header" />
      </UiTableRow>
    </thead>

    <tbody>
      <slot></slot>
    </tbody>
  </table>
</template>

<script setup lang="ts">
import UiTableRow from '@/components/ui-common/ui-table-row.vue'

type Props = {
  headers?: string[]
  colsMobile?: string
  colsDesktop?: string
  flat?: boolean
}

withDefaults(defineProps<Props>(), {
  headers: () => [],
  colsMobile: 'auto',
  colsDesktop: '2fr 1fr 1fr 2fr',
  flat: false
})
</script>

<style module lang="sass">
.table
  width: 100%
  margin: 0 auto
  border-collapse: collapse
  &:not(.flat)
    background-color: var(--color-background)
    box-shadow: 0 2px 20px rgba(0, 67, 115, 0.05)

  thead
    text-transform: uppercase
    font-weight: normal

  tr
    display: grid
    align-items: center
    border-bottom: 1px solid var(--color-border)
    transition: border-bottom-color .5s
    grid-template-columns: v-bind(colsMobile)

    &:hover
      border-bottom-color: var(--color-border-hover)

    @media (min-width: 768px)
      grid-column-gap: 1rem
      grid-template-columns: v-bind(colsDesktop)
      margin-bottom: 0

  thead, tbody
    tr:last-child
      margin-bottom: 0

  td
    padding: 10px
    @media (min-width: 1024px)
      padding: 15px
</style>
