<template>
  <component :is="titleTag" :class="{ [$style.center]: center }">
    <slot></slot>
  </component>
</template>

<script setup lang="ts">
import { computed } from 'vue'

const ALLOWED_TAGS = ['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'div', 'span']

type Props = {
  tag?: string
  center?: boolean
}

const props = withDefaults(defineProps<Props>(), {
  tag: 'div',
  center: false
})

const titleTag = computed(() =>
  ALLOWED_TAGS.includes(props.tag) ? props.tag : 'div'
)
</script>

<style module lang="sass">
.center
  text-align: center
</style>
