<template>
  <img :class="$style.logo" src="@/assets/logo.svg" width="auto" height="60" alt="AppLogo" />
</template>

<script setup lang="ts"></script>

<style module lang="sass">
.logo
  display: block
</style>
