<template>
  <header :class="$style.header">
    <div :class="grid.container">
      <AppLogo :class="$style.logo"></AppLogo>
    </div>
  </header>
</template>

<script setup lang="ts">
import grid from '@/assets/grid.module.sass'
import AppLogo from '@/components/app-logo.vue'
</script>

<style module lang="sass">
.header
  display: flex
  align-items: center

.logo
  margin-right: auto
</style>
