@import './base.css';

a,
.green {
  text-decoration: none;
  color: var(--color-base-1);
  transition: 0.4s;
  padding: 3px;
}

a:not([href]) {
  pointer-events: none;
  opacity: .9;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-base-1-lighter);
  }
}

@media (min-width: 1024px) {
  html, body {
    height: 100%;
  }

  #app {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
