<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <line
      x1="4.22183"
      y1="4.22168"
      x2="19.7782"
      y2="19.778"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
    />
    <line
      x1="4.22168"
      y1="19.7782"
      x2="19.778"
      y2="4.22182"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
    />
  </svg>
</template>

<script setup lang="ts"></script>
